<section class="vh-100" style="background-color: #0E081A">

  <div class="container" *ngIf="edu">
      <div class="row">
          <div>
              <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                  <div class="form-group">
                      <label for="institucion">Institución</label>
                      <input type="text" class="form-control" id="institucion" name="institucion" [(ngModel)]="edu.institucion" requerid>
                  </div>
                  <div class="form-group">
                      <label for="intervalo">Intervalo</label>
                      <input type="text" class="form-control" id="intervalo" name="intervalo" [(ngModel)]="edu.intervalo" requerid>
                  </div>
                  <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="edu.descripcion" requerid>
                </div>
                  <button class="btn btn-primary">
                  Actualizar
                  </button>
              </form>
          </div>
      </div>
  </div>

  </section>

