<div class="row no-gutters">

    <div class="col-lg-12">
        <h1>Educación<button type="button" class="btn btn-dark" routerLink="/nuevaeducation" *ngIf="isLogged"><i class="fa-solid fa-circle-plus"></i> Agregar</button></h1>

        <div class="table-responsive">

          <table class="table">
            <thead>
              <th class="align-middle">Institucion - Carrera</th>
              <th class="align-middle">Intervalo</th>
              <th class="align-middle">Descripcion</th>
              <th *ngIf="isLogged" class="align-middle">Acciones</th>
            </thead>
          <tbody>
              <tr *ngFor="let Education of edu">
                  <td class="align-middle">{{Education.institucion}}</td>
                  <td class="align-middle">{{Education.intervalo}}</td>
                  <td class="align-middle">{{Education.descripcion}}</td>
                  <td *ngIf="isLogged"> <button class="btn btn-light" routerLink="/editareducation/{{Education.id}}"> <i class="fa-solid fa-pen-to-square"></i> Editar</button> <button class="btn btn-light" (click)="delete(Education.id)"> <i class="fa-solid fa-pen-to-square"></i> Borrar</button></td>
                </tr>
          </tbody>

          </table>
          </div>

      </div>
