<div class="row">

    <h1>Hard and Soft Skills</h1>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <p>HTML & CSS</p>
        <div class="progress">
            <div class="progress-bar bg-secondary" style="width:64%">64%</div>
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="progress">
            <div class="progress-bar bg-secondary" style="width:64%">64%</div>
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="progress">
            <div class="progress-bar bg-secondary" style="width:64%">64%</div>
        </div>
    </div>

</div>