<section class="vh-100" style="background-color: #0E081A">

<div class="container">
  <div class="row">
      <div>
          <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
              <div class="form-group">
                  <label for="nombrehass">Hard and Soft Skill</label>
                  <input type="text" class="form-control" id="nombrehass" name="nombrehass" [(ngModel)]="nombrehass" requerid>
              </div>
              <div class="form-group">
                  <label for="puntuacionhass">Puntuación (0-100%)</label>
                  <input type="text" class="form-control" id="puntuacionhass" name="puntuacionhass" [(ngModel)]="puntuacionhass" requerid>
              </div>
              <button class="btn btn-primary">
              Agregar
              </button>
          </form>
      </div>
  </div>
</div>

</section>
