<div>
    <a class="btn btn-dark social" href="https://www.github.com/francovico/" aria-label="GitHub"> <i class="fa-brands fa-github"></i></a>
    <a class="btn btn-dark social" href="https://www.instagram.com/franco.vico/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    <a class="btn btn-dark social" href="https://www.facebook.com/franco.vico" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-dark social" href="http://wa.me/+543492419700" aria-label="Whatsapp"><i class="fab fa-whatsapp"></i></a>
    <a class="btn btn-dark social" href="/login" aria-label="Login">Login <i class="fa-solid fa-right-to-bracket"></i></a>
</div>