<div class="row no-gutters">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/img/foto.jpg" class="rounded-circle img-fluid">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}&nbsp;{{persona.apellido}}</p>
        <p>Full Stack Dev Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3>Acerca de mi</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias doloremque ex, beatae quos facilis fugiat nam, asperiores consequatur, perspiciatis sint voluptate delectus nobis excepturi eaque? Assumenda veniam velit eos.</p>
        </span>
    </div>

</div>
