<section class="vh-150" style="background-color: #0E081A">

  <div class="container" *ngIf="about">
      <div class="row">
          <div>
              <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                  <label for="about">Nombre</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" requerid>
                </div>

                <div class="form-group">
                  <label for="about">Apellido</label>
                  <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" requerid>
                </div>

                <div class="form-group">
                  <label for="about">URL Imagen de Perfil</label>
                  <input type="text" class="form-control" id="img" name="img" [(ngModel)]="persona.img" requerid>
                </div>

                <div class="form-group">
                  <label for="about">Job</label>
                  <input type="text" class="form-control" id="job" name="job" [(ngModel)]="about.job" requerid>
                </div>

                <div class="form-group">
                  <label for="about">About</label>
                  <textarea class="form-control" type="text" rows="10" cols="50" class="form-control" id="about" name="about" [(ngModel)]="about.about" requerid></textarea>
                </div>

                  <button class="btn btn-primary">
                  Actualizar
                  </button>
              </form>
          </div>
      </div>
  </div>

  </section>
