<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreexperiencia">Empresa</label>
                    <input type="text" class="form-control" id="nombreexperiencia" name="nombreexperiencia" [(ngModel)]="nombreexperiencia" requerid>
                </div>
                <div class="form-group">
                    <label for="descripcionexperiencia">Descripción</label>
                    <input type="text" class="form-control" id="descripcionexperiencia" name="descripcionexperiencia" [(ngModel)]="descripcionexperiencia" requerid>
                </div>
                <button class="btn btn-primary">
                Agregar
                </button>
            </form>
        </div>
    </div>
</div>
