.row{
  padding: 50px;
}

.container-fluid{
  background-color: #0E081A;
  border-color:#190F2D;
  color:lavender;
}

.card-body{
  background-color: #190F2D;
  border-color:#190F2D;
  color:lavender;
}

.hideMeAfter3Seconds {
  animation: hideAnimation 0s ease-in 3s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
