.row{
  padding: 50px;
}

.container-fluid{
  background-color: #0E081A;
  border-color:#190F2D;
  color:lavender;
}

.card-body{
  background-color: #190F2D;
  border-color:#190F2D;
  color:lavender;
}
